<% provide(:title, 'Sign in') %>

<h1>Sign In</h1>

<div class="row justify-content-center">
  <div class="col-lg-7">
    <%= form_for :session, url: signin_path, html: {id: 'signin-form'} do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control'%>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control'%>
      </div>

      <%= f.submit "Sign in", class: "btn btn-primary form-control"%>
    <% end %>
  </div>
<div>
